* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
  background-color: #001f3f;
  color: whitesmoke;
}

input {
  background: #f2f2f2;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 15px;
  width: 600px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  color: grey;
  outline: none;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

.subtitle {
  font-size: 25px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #ffffff;
  font-family: Impact, Charcoal, sans-serif;
}

.category_name {
  position: relative;
  background: #000000;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  margin: auto;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 0px;
}
.category_name:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #000000 transparent;
  border-width: 20px 20px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}
.card-grid ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
}

.card {
  background-color: black;
  border: 2px solid grey;
  border-radius: 6px;
  color: whitesmoke;
  margin: 1%;
  padding: 2%;
  overflow: hidden;
  text-align: center;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.form_input {
  text-align: center;
}

.loading {
  text-align: center;
}
